<div class="row">
  <div class="col-sm-12">
    <h1 align="center">Personal Energy Dashboard</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to dashboard_path do %>My energy trends<% end %></li>
      <li><%= link_to dashboard_history_path do %>View my past energy usage<% end %></li>
      <li class="active"><%= link_to dashboard_add_path do %>Add this months energy usage<% end %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1" style="padding-top: 10px;">
    <% if current_user.UserSubmitted.count == 0 %>
      <h4 align="center">It looks like this is the first time your adding your energy report, we recommend following the <a href="#">Guide</a></h2>
    <% end %>
    <h3 align="center" style="text-decoration: underline;">How do I add a new months reading?</h3>
    <h4 align="center">
      First locate your most recent energy bill statement, it should have been either mailed or emailed to you by your energy provider. It should appear similar to the example statement on the left hand side. Match your statements electricity/gas usage to the example statement and then enter your statements information into the required fields on the right hand side before clicking "save"
    </h4>
    <hr/>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"
          <h3 align="center">
            Example PSE&G bill readings (page 3)
          </h3>
        </div>
        <div class="panel-body">
          <%= image_tag "examplebill.png", width: "100%", height: "100%" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          New monthly bill entry
        </h3>
      </div>
      <div class="panel-body" style="padding-left: 30px; padding-right: 30px;">
        <%= form_for @submitted, url: dashboard_update_path, html: {class: 'form-horizontal'} do |f| %>
          <div class="form-group">
            <%= f.label :bill_date, class: 'control-label' %>
            <%= f.date_select :bill_date, {:order => [:month, :day, :year], :prompt => [:year => "Year", :month => "Month", :day => "Day"], :start_year => 1985, :end_year => 2015}, {:required => "true"}  %>
          </div>
          <div class="form-group">
            <%= f.label :city, "City", class: 'control-label' %>
            <%= f.text_field :city, class: 'form-control', placeholder: 'Princeton' %>
          </div>
          <div class="form-group">
            <%= f.label :zip, "Zip Code", class: 'control-label' %>
            <%= f.text_field :zip, class: 'form-control', placeholder: '08540' %>
          </div>
          <div class="form-group">
            1. <%= f.label :gas_reading, "Gas Usage", class: 'control-label' %>
            <%= f.number_field :gas_reading, class: 'form-control', :step => 'any', placeholder: '25.405' %>
          </div>
          <div class="form-group">
            2. <%= f.label :gas_charge, "Gas Cost", class: 'control-label' %>
            <%= f.number_field :gas_charge, :class => 'text_field form-control', :step => 'any', placeholder: '0.451879' %>
          </div>
          <div class="form-group">
            3. <%= f.label :electric_reading, "Electricity Usage", class: 'control-label' %>
            <%= f.number_field :electric_reading, class: 'form-control', placeholder: '343' %>
          </div>
          <div class="form-group">
            4. <%= f.label :electric_charge, "Electricity Cost", class: 'control-label' %>
            <%= f.number_field :electric_charge, :class => 'text_field form-control', :step => 'any', placeholder: '0.112682' %>
          </div>
          <div align="center">
            <%= f.submit "Save", class: 'btn btn-large btn-primary' %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>