<div class="row">
  <div class="col-sm-12">
    <h1 align="center">Personal Energy Dashboard</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to dashboard_path do %>My energy trends<% end %></li>
      <li class="active"><%= link_to dashboard_history_path do %>View my past energy usage<% end %></li>
      <li><%= link_to dashboard_add_path do %>Add this months energy usage<% end %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1" style="padding-top: 10px;">
    <% if @found.count == 0 %>
      <h2 align="center">You don't have any past energy reports yet, would you like to <%= link_to dashboard_add_path do %>Add One?<% end %></h2>
    <% else %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= @found.last.bill_date.to_date %><%= link_to "Remove", dashboard_delete_path(@found.last.id), class: 'pull-right', data: { confirm: "You sure?" }, style: "color: red",method: :delete %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>Gas Reading</th>
            <th>Gas Cost</th>
            <th>Electric Reading</th>
            <th>Electric Cost</th>
          </tr>
          <tr>
            <td>
              <%= if @found.last.gas_reading then @found.last.gas_reading else "N/A" end %>
            </td>
            <td>
              <%= if @found.last.gas_charge then @found.last.gas_charge else "N/A" end %>
            </td>
            <td>
              <%= if @found.last.electric_reading then @found.last.electric_reading else "N/A" end %>
            </td>
            <td>
              <%= if @found.last.electric_charge then @found.last.electric_charge else "N/A" end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <% @found.reverse[1..-1].each do |x| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%=x.id%>">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=x.id%>" aria-expanded="false" aria-controls="collapse<%=x.id%>">
          <%= x.bill_date.to_date %><%= link_to "Remove", dashboard_delete_path(x.id), class: 'pull-right', data: { confirm: "You sure?" }, style: "color: red", method: :delete %>
        </a>
      </h4>
    </div>
    <div id="collapse<%=x.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=x.id%>">
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>Gas Reading</th>
            <th>Gas Cost</th>
            <th>Electric Reading</th>
            <th>Electric Cost</th>
          </tr>
          <tr>
            <td>
              <%= if x.gas_reading then x.gas_reading else "N/A" end %>
            </td>
            <td>
              <%= if x.gas_charge then x.gas_charge else "N/A" end %>
            </td>
            <td>
              <%= if x.electric_reading then x.electric_reading else "N/A" end %>
            </td>
            <td>
              <%= if x.electric_charge then x.electric_charge else "N/A" end %>
            </td>
          </tr>
        </table>      
        </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
  </div>
</div>