<div class="row">
  <div class="col-sm-12">
    <h1 align="center">Personal Energy Dashboard</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to dashboard_path do %>My energy trends<% end %></li>
      <li><%= link_to dashboard_history_path do %>View my past energy usage<% end %></li>
      <li><%= link_to dashboard_add_path do %>Add this months energy usage<% end %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1" style="padding-top: 10px;">
    <% if current_user.UserSubmitted.count == 0 or @gasfound.count == 0 %>
      <h2 align="center">You don't have any usable energy reports yet, would you like to <%= link_to dashboard_add_path do %>Add One?<% end %></h2>
    <% elsif current_user.UserSubmitted.count == 1 %>
      <h2 align="center">Some graphs may not appear correctly until you have at least two months of usage</h2>
    <% else %>
      <div id="biggraphcontainer" style="height: 350px;">
        </div>
      <script type="text/javascript">
        //set the javascript variables for the biggraph before its rendered
        var bigchartlabels = [<% @gaslabels.each do |x| %>"<%= x.to_date %>", <% end %>]
        var bigchartdata = [<% @gasusage.each do |x| %> "<%= x.to_s %>", <% end %>]
        //render the big line graph in the canvas tag
        biggraph(bigchartlabels, bigchartdata);
      </script>
    <% end %>
  </div>
</div>