<style>
<style>
.email {
    border-radius: 3px;
    border: none;
    transition: 0.5s all;
    height: 40px;
    vertical-align: text-top;
    color: #568259;
    font-size: 50%;
    text-align: center;
    width: 130%;
}
.email:focus {
    outline: none;
    background: #568259;
    color: #fff;
}
.sign {
    border: none;
    border-radius: 3px;
    background: #568259;
    height: 25px;
    transform: scale(1.5, 1.5);
    transition: 0.3s all;
    color: white;
}
.sign:hover  {
    background: white;
    color: #568259;
}
.slideTwo {
  width: 50px;
  height: 30px;
  background: #568259;
  margin: 20px auto;
  position: relative;
  border-radius: 100px;
}
 
.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  background: white;
}
.slideTwo label:after {
  content: '';
  width: 22.1px;
  height: 22.1px;
  position: absolute;
  top: px;
  left: 0px;
  background: #fff;
  border-radius: 1000px;
transition: 0.4s all ease;
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 23px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #fff;
  /*activeColor*/
}
    body {
        background: #DBF4AD !important;
	    font-family: 'Bree Serif', serif !important;
    }
    h2 {
	    font-family: 'Bree Serif', serif;
	}
</style>
</style>
<h2 style="position: absolute; left: 50%; top: 25%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-bottom: 3px solid #568259; color: #568259; font-size: 500%; ">LOG IN</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div style="position: absolute; left: 50%; top: 40%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #568259; font-size: 150%" >Email: <br><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "email" %>
  </div>

<div style="position: absolute; left: 50%; top: 52%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #568259; font-size: 150%" >Password: <br><%= f.password_field :password, autocomplete: "off",  class: "email", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div style="position: absolute; left: 50%; top: 61%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, style: "color: #568259; font-size: 150%;" %>
      </div>
  <% end -%>

  <div style="position: absolute; left: 50%; top: 68%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    <%= f.submit "Log in", class: "sign", name: "commit" %>
  </div>
<% end %>

<div style="position: absolute; left: 49.5%; top: 75%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); ">
    <%= render "devise/shared/links" %>
</div>
