<!-- override site container for pretty backsplash on homepage -->
<style>
.container {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    overflow-x: hidden;
    }
.navbar-fixed-top {
    display: none;
}
.footer {
    position: absolute;
    right: 0px;
    bottom: 5px;
    margin-top: -20px;
    z-index: 5;
    color: #ddd;
}
body {
    padding-top:0px;
}
#nprogress .bar {
  background: #EA8902;
  position: fixed;
  top: 0px !important;
}
</style>
<!-- end style override -->

<div class="home">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="main-title">
                <h1>Greengraph</h1>
                <h3>Open source analytics data for Princeton</h3>
                <br/><br/>
                <ul class="nav nav-pills nav-justified nav-bordered homenav">
                    <li><%= link_to about_path do %><i class="glyphicon glyphicon-heart-empty"></i>  About<% end %></li>
                    <li><%= link_to analytics_path do %><i class="glyphicon glyphicon-tasks"></i>  Analytics<% end %></li>
                    <br/><br/>
                    <li><%= link_to maps_path do %><i class="glyphicon glyphicon-pushpin"></i>  Maps<% end %></li>
                    <li><%= link_to api_path do %><i class="glyphicon glyphicon-link"></i>  API<% end %></li>

                    <li><%= link_to import_path do %><i class="glyphicon glyphicon-link"></i>  Import<% end %></li>
                    <br/><br/>
                    <li><%= link_to new_user_session_path do %><i class="glyphicon glyphicon-pushpin"></i> Login<% end %></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>
<script><%= render partial: 'rAF.js' %></script>
<script><%= render partial: 'home.js' %></script>