<!-- override site container for pretty backsplash on homepage -->
<style>
    .container {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        overflow-x: hidden;
    }
    .navbar-fixed-top {
        display: none;
    }
    .footer {
        position: absolute;
        right: 0px;
        bottom: 5px;
        margin-top: -20px;
        z-index: 5;
        color: #ddd;
    }
    body {
        padding-top:0px;
    }
    #nprogress .bar {
        background: #EA8902;
        position: fixed;
        top: 0px !important;
    }
</style>
<!-- end style override -->

<div class="home">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <div class="main-title">
        <h1>Greengraph</h1>
        <div class="panel panel-default" style="margin-top: 20px; padding-top: 0px; padding-bottom: 10px;background-color: rgba(55,55,55,0.8); color: #fff;">
        <div class="panel-body" style="padding-top: 0px;">
        <h2 align="center">
            Since 2009, Princeton used <b class="accent"><%= number_with_precision((@totalenergy / 1000), :precision => 0, :delimiter => ',') %> mWh<%= link_to "*", about_path, class: "accent" %></b> of energy. 
            <br/>
            That's <b class="accent"><%= number_with_precision(@totalco2, :precision => 0, :delimiter => ',') %><%= link_to "*", about_path, class: "accent" %></b> tons of CO2. 
            Equivilent to <b class="accent"><%= number_with_precision(@totalcars, :precision => 0, :delimiter => ',') %><%= link_to "*", about_path, class: "accent" %></b> cars on the road, or driving your car for 
            <b class="accent"><%= number_with_precision(@totalmiles, :precision => 0, :delimiter => ',') %><%= link_to "*", about_path, class: "accent" %></b> miles.
            We would need <b class="accent"><%= number_with_precision(@totalacres / 5, :precision => 0, :delimiter => ',') %><%= link_to "*", about_path, class: "accent" %></b> acres of forest to offset that usage, 
            or to have planted <b class="accent"><%= number_with_precision(@totalseedlings / 5, :precision => 0, :delimiter => ',') %><%= link_to "*", about_path, class: "accent" %></b> trees ten years ago.</h2>
        </div>
        </div>
        <h2 style="color: #FFF">Ready to help make a change?</h2>
        <br/>
        <ul class="nav nav-pills nav-justified nav-bordered homenav">
          <li><%= link_to start_path do %></i>  Get Started<% end %></li>
          <br/><br/>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<script><%= render partial: 'rAF.js' %></script>
<script><%= render partial: 'home.js' %></script>