<div class="row">
    <h4 align="center">Since 2009, Princeton has consumed <%=@commercialgas %> Therm (THM) of gas for its commercial sector and <%=@residentialgas %> Therm (THM) for residents.</h4>
    <div class="col-sm-6 col-sm-offset-1">
        <div id="allgaschartbarcontainer">
            <canvas style="height: 300px;" id="allgaschartbar"></canvas>
        </div>
    </div>
    <div class="col-sm-3">
        <div id="allgaschartcontainer">
            <canvas style="height: 300px;" id="allgaschart"></canvas>
        </div>
    </div>
</div>
<h4 align="center">To help put this in perspective, wikipedia describes a Therm as <a style="color: #336633;" href="https://en.wikipedia.org/wiki/Therm"><i>energy equivalent of burning 100 cubic feet of natural gas.</i></a>
<br/><br/>
<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        <h4 align="center">All electric usage combined since 2009</h4>
        <div id="allelectricbarchartcontainer">
            <canvas style="height: 300px;" id="allelectricbarchart"></canvas>
        </div>
    </div>
    <div class="col-sm-3">
        <div id="allelectricchartcontainer">
            <canvas style="height: 300px;" id="allelectricchart"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
  var comelectric = <%=@commercialelectric %>;
  var reselectric = <%=@residentialelectric %>;
  electricdoughnut(comelectric, reselectric);
  electricbar(comelectric, reselectric);
  var comgas = <%=@commercialgas %>;
  var resgas = <%=@residentialgas %>;
  gasbar(comgas, resgas);
  gasdoughnut(comgas, resgas);
</script>