<div class="row">
    <h4 align="center">Since 2009, Princeton has consumed <b><%= number_with_delimiter(@commercialgas.floor, :delimiter => ',') %><b> Therm (THM) of gas for its commercial sector and <b><%= number_with_delimiter(@residentialgas.floor, :delimiter => ',') %></b> Therm (THM) for residents.</h4>
    <div class="col-sm-6 col-sm-offset-1">
        <div id="allgaschartbarcontainer">
            <canvas style="height: 300px;" id="allgaschartbar"></canvas>
        </div>
    </div>
    <div class="col-sm-3">
        <div id="allgaschartcontainer">
            <canvas style="height: 300px;" id="allgaschart"></canvas>
        </div>
    </div>
</div>
<h4 align="center">To help put this in perspective, wikipedia describes a Therm as <a style="color: #336633;" href="https://en.wikipedia.org/wiki/Therm"><i>energy equivalent of burning 100 cubic feet of natural gas.</i></a>
<br/><br/><br/><br/><br/>
<div class="row">
    <h4 align="center">Princeton also used <b><%= number_with_delimiter(@commercialelectric.floor, :delimiter => ',') %></b> KWH of electricity in commercial applications and <b><%= number_with_delimiter(@residentialelectric.floor, :delimiter => ',') %></b> KWH for residential use in homes just like yours!</h4>
    <div class="col-sm-6 col-sm-offset-1">
        <div id="allelectricbarchartcontainer">
            <canvas style="height: 300px;" id="allelectricbarchart"></canvas>
        </div>
    </div>
    <div class="col-sm-3">
        <div id="allelectricchartcontainer">
            <canvas style="height: 300px;" id="allelectricchart"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
  var comelectric = <%=@commercialelectric.floor/100000 %>;
  var reselectric = <%=@residentialelectric.floor/100000 %>;
  electricdoughnut(comelectric, reselectric);
  electricbar(comelectric, reselectric);
  var comgas = <%=@commercialgas.floor/10000 %>;
  var resgas = <%=@residentialgas.floor/10000 %>;
  gasbar(comgas, resgas);
  gasdoughnut(comgas, resgas);
</script>